.header{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    border: 1px solid black;
    background: beige;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;

}
.nav-items > ul > li{
    padding: 0.5rem;

}
.logo{
    width: 20%;
    padding: 0.5rem;
}
.header > button{
    margin: 0.5rem
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}
.restaurant-card{
    border: 1px solid black;
    width: 15%;
    padding: 0.5rem;
    margin: 0.5rem;
}
.restaurant-card > img {
    width: 80%;
    margin:auto;
}
